.singleMessage {
  display: flex;
  max-width: 70%;
  min-height: 55px;
  margin-bottom: 20px;
}

.singleMessage:global(.right) {
  flex-direction: row-reverse;
}

.singleMessage img {
  flex-shrink: 1;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.info {}

.info :global(.name) {
  font-size: 12px;
  min-width: 1px;
  min-height: 20px;
  margin-left: 10px;
  color: #a7a8aa;
}

.info :global(.content) {
  padding: 10px 8px;
  font-size: 12px;
  background-color: #fff;
  margin-left: 10px;
  border-radius: 0 8px 8px 8px;
}

.singleMessage:global(.right) :global(.content) {
  border-radius: 8px 0 8px 8px;
  margin-right: 10px;
  background-color: #32d74c;
}
.singleMessage:global(.right) :global(.name) {
  margin-right: 10px;
}