.pointer {
  cursor: pointer;
}

.no-select {
  user-select: none;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
