.messageBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
}

/**
* * header
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px 20px;
  flex-shrink: 0;
}

.header :global(.name) {
  font-weight: 600;
}

.moreButton {
  width: 30px;
  height: 30px;
  background-color: #e5e6ea;
  text-align: center;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/**
* * Box
*/

.box {
  padding: 0 20px;
  flex: 1;
  overflow: auto;
}

.boxItem {
  display: flex;
}

.boxItem:global(.right) {
  justify-content: flex-end;
}

/**
* * Editor
*/

.editor {
  border-top: 1px solid #dedfe3;
  min-height: 110px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.tools {
  flex-shrink: 0;
  display: flex;
  font-size: 20px;
  color: #cdcdcd;
  padding: 10px 20px;
}

.tools :global(.icon) {
  cursor: pointer;
}

.tools :global(.icon):hover {
  cursor: pointer;
  color: #0cc160;
}

.tools :global(.icon):not(:first-of-type) {
  margin-left: 10px;
  cursor: pointer;
}

.tools :global(.icon):nth-last-child(2) {
  margin-left: auto;
}

.textEditor {
  flex: 1;
  padding: 5px 20px;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}