.messageBoxWrap {
  flex: 1;
  display: flex;
  height: 100vh;

}

.messageBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 50px;
}

/**
* * header
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px 20px;
  flex-shrink: 0;
  z-index: 2;
}

.header :global(.name) {
  font-weight: 600;
}

/**
* * More Button
*/

.moreButton {
  width: 30px;
  height: 30px;
  background-color: #e5e6ea;
  text-align: center;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  transform: rotateY(180deg);
  transition: transform .3s ease-in-out;
}

.moreButton:global(.open) {
  transform: rotateY(0);
}

/**
* * ChatBox
*/

.box {
  padding: 0 20px;
  flex: 1;
  overflow: auto;
}

.boxItem {
  display: flex;
}

.boxItem:global(.right) {
  justify-content: flex-end;
}

/**
* * Editor
*/

.editor {
  border-top: 1px solid #dedfe3;
  min-height: 110px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.tools {
  flex-shrink: 0;
  display: flex;
  font-size: 20px;
  color: #cdcdcd;
  padding: 10px 20px;
}

.tools :global(.icon) {
  cursor: pointer;
}

.tools :global(.icon):hover {
  cursor: pointer;
  color: #0cc160;
}

.tools :global(.icon):not(:first-of-type) {
  margin-left: 10px;
  cursor: pointer;
}

.tools :global(.icon):nth-last-child(2) {
  margin-left: auto;
}

.textEditor {
  flex: 1;
  padding: 5px 20px;
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}

/**
* * Aside
*/
.aside {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  border-left: 1px solid #dfe0e2;
  transform: translateX(200px);
  transition: transform .3s ease-in-out;
  overflow: auto;
  background-color: #f3f2f7;
  padding: 100px 10px 10px;
  box-sizing: border-box;
}

.aside:global(.open) {
  transform: translateX(0);
}

/* info */
.info {
  flex-shrink: 0;
}

.info :global(.infoItem) {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.info :global(.infoItem):not(:first-of-type) {
  margin-top: 5px;
}

.info :global(.infoItem .label) {
  color: #a7a8aa;
}

/* list */
.list {
  flex: 1;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.listItem {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 8px 10px;
  background-color: #ffffff;
  border-radius: 10px;
}
.listItem:not(:first-of-type) {
  margin-top: 10px;
}

.listItem :global(img) {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 10px;

}

.listItem :global(.name) {
  font-size: 12px;
}

/* button */
.button {
  flex-shrink: 0;
  text-align: center;
}

.button :global(.button) {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

/*
* * emoji 
*/
.emojiPopper {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 10px 10px 10px 0;
  overflow: hidden;
  box-shadow: 0 0 5px #cccccc;
}

.emojiPopper :global(.mask) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(20px);
  background: rgba(249, 249, 249, 1);
}

.emojiPopper :global(.content) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: auto;
  padding: 5px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}