.DivideLayout {
  display: flex;
}

.DivideLayout>aside {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  border-right: 1px solid #dedfe3;
}

.DivideLayout>main {
  flex: 1;
  height: 100vh;
  padding-top: 50px;
}